<div class="mainbox">
  <h1>Test map</h1>
  <div>
    <label style="margin-right: 10px;" for="cars">Choose a country</label>
    <select #countries id="countries" (change)="changeCountry(countries.value)">
      <option value="TH">Thailand</option>
      <option value="CN">China</option>
    </select>
  </div>
  <mgl-map [style]="style" [zoom]="zoom" [center]="centerMap" (mapLoad)="onLoad($event)" [pitch]="pitch"
    (zoomEvt)="onZoom()">
    <ng-container *ngIf="curZoom < 3; else showport">
      <ng-container *ngFor="let map of mapData">
        <mgl-marker [lngLat]="[map.longitude, map.latitude]">
          <div (click)="alert('Foo')" class="marker-country">
            <div class="marker-value">
              {{map.value}}
            </div>
          </div>
        </mgl-marker>
      </ng-container>
    </ng-container>
    <ng-template #showport>
      <ng-container *ngFor="let port of mapPortData; let i = index;">
        <mgl-marker [lngLat]="[port.longitude, port.latitude]">
          <div style="position: relative;">
            <div (click)="createLine(i)" class="marker-port">
              <div class="marker-value">
                {{port.value}}
                return result6[port.portid]
              </div>
            </div>
            <div class="display-port" *ngIf="port.info">
              Show route here
            </div>
          </div>
        </mgl-marker>
      </ng-container>
    </ng-template>
    <mgl-layer *ngIf="geometry" id="state-borders" type="line" [source]="geometry" [paint]="{
      'line-color': '#627BC1',
      'line-width': 2
    }"></mgl-layer>
  </mgl-map>
</div>
